.centered{
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	background-color: #f7f7f7;
	transform: translate(-50%, -50%);
	box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
	height: 400px;
	padding: 30px;
}

form{
	padding: 5%;
	border: 1px solid grey;
	border-radius: 2px;
}

img{
	background-color: #f7f7f7;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
}

.img-responsive{
	height: 20em;
}